*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


body{
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px dashed red;
    min-height: 100vh;
}
.card{
    width: 500px;
    min-height: 200px;
    border: 1px solid black;
}

header{
    height: 50px;
    background-color: dodgerblue;
    position: relative;
}

.user-circle{
    width: 50px;
    height: 50px;
    position: absolute;
    border: 2px solid white;
    border-radius: 50%;
    top: 25px;
    left:25px;
}


.profile{
    margin-top: 20px;
    margin-left: 10px;

}

.location{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 10px;
}

.pin{
    width: 16px;
    height: 16px;
    margin: 5px;
}
.information{
    margin: 10px;
}
.gear{
    width: 16px;
    height: 16px;
    margin-top: 20px;
}